---
import Assistants from '@compoonents/assistants.astro'
import Container from '@compoonents/container.astro'
import FloatingBoxContainer from '@compoonents/floating-box-container.astro'
import PlayerPrizeCard from '@compoonents/player-prize-card.astro'
import SectionTitle from '@compoonents/section-title.astro'
import TabsStatistics from '@compoonents/tabs-statistics.astro'
import Layout from '@layouts/Layout.astro'
import { getFirstPlayersStatistics } from '@services/statistics'

const { topAssister } = await getFirstPlayersStatistics()
---

<Layout title='Clasificación'>
  <SectionTitle title='Estadísticas' />
  <Container>
    <FloatingBoxContainer>
      <TabsStatistics />
      <div class='my-4'>
        <PlayerPrizeCard
          smallerBox
          teamName={topAssister.team}
          teamImage={topAssister.image}
          teamId={topAssister.teamId}
          playerName={topAssister.playerName}
          playerImage={topAssister.playerImage}
          title={topAssister.assists}
          subtitle='Asistencias'
        />
      </div>
      <Assistants />
    </FloatingBoxContainer>
  </Container>
</Layout>
