---
import Container from '@compoonents/container.astro'
import Leaderboard from '@compoonents/leaderboard.astro'
import Live from '@compoonents/live.astro'
import NextMatchesTable from '@compoonents/next-matches-table.astro'
import PlayerPrizeCard from '@compoonents/player-prize-card.astro'
import Sponsors from '@compoonents/sponsors.astro'
import TeamCard from '@compoonents/team-card.astro'
import Layout from '@layouts/Layout.astro'
import { getFirstPlayersStatistics } from '@services/statistics'
import { checkIsLive } from '@services/twitch'

const { hostname } = new URL(Astro.request.url)
const isLive = await checkIsLive()
const { mvp, topScorer, topAssister } = await getFirstPlayersStatistics()

console.log(mvp)
---

<Layout title='Kings League Infojobs'>
  <main>
    <section class='bg-principal py-5 sm:py-20'>
      <Container>
        <div class='grid grid-cols-4 lg:grid-cols-8 gap-10 w-full px-4 md:px-8'>
          <div class='col-span-4 xl:col-span-3 flex flex-col gap-y-10'>
            <NextMatchesTable />
            <Leaderboard />
          </div>
          <div class='col-span-4 lg:col-span-4 xl:col-span-5 mt-[20px] lg:mt-0'>
            <div class='grid grid-cols-6 gap-y-10 gap-x-5 w-full'>
              {isLive && <Live hostname={hostname} />}

              {
                mvp && (
                  <div class='col-span-6'>
                    <PlayerPrizeCard
                      teamName={mvp.team}
                      teamId={mvp.teamId}
                      teamImage={mvp.image}
                      playerName={mvp.playerName}
                      playerImage={mvp.playerImage}
                      title='MVP'
                      subtitle='Jornada 1'
                    />
                  </div>
                )
              }
            </div>
            <div class='my-5'>
              <TeamCard />
            </div>
          </div>
        </div>
      </Container>
    </section>
  </main>
  <Sponsors />
</Layout>
